// font family

// Poppins
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
//Lobester Two
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// color
$color-1: #ba2f0f;
$color-2: #0b2a24;
$color-3: #f9e6c6;

//mixin
@mixin CenterContent {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin flexCenter {
    display: flex;
    justify-content: center;
}

// sugegstion de mixin pour le responsive, les btn, les hover sur btn, card etc...
// prendre exemple sur le repo : https://github.com/O-clock-Freki/P01-Atelier-JeremyDfr/blob/master/projet/frontend/src/styles/_mixins.scss

// parmaetre généraux
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: $color-3;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

li {
    list-style: none;
}