@import '../settings';

.container-form{
    height: 100vh;
    @include  CenterContent;

    .bar{
        height: 40%;
        width: 2px;
        background-color: $color-2;
        margin: 0 15px;
    }
}