.fc-header-toolbar {
    font-size: 10px; /* Augmenter la taille de la police */
}

.fc-button {
    padding: 8px 10px; /* Ajuster la taille du padding des boutons */
    font-size: 14px; /* Taille de la police pour les boutons */
}

.fc-toolbar-title {
    font-size: 20px; /* Taille de la police pour le titre */
    font-weight: bold; /* Rendre le titre en gras */
}
